/*-------------------------Google Fonts----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/*-------------------------General----------------------- */
body {
    font-family: Nunito, sans-serif;
    color: #1F1F1F;
    background-color: #F7F3F5;
}

/*-------------------------Headings----------------------- */
.main-heading {
    text-align: center;
    color: #330C2F;
    margin-bottom: 0;
    padding: 1.5rem 1rem 1rem 1rem;
    font-weight: 600;
}

h2 {
    color: #90143D;
    font-weight: 700;
}

/*-------------------------Header----------------------- */ 
#logo {
    height: 4rem;
}

.navbar {
    background-color: #F7F3F5;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: .2rem;
    padding: 0 .5rem;
    border-bottom: #7ADBE6 .18rem solid;
}

.navbar-toggler {
    border: none;
    font-size: 1.5rem;
}
.navbar-collapse {
    padding: 1rem 1.5rem;
}

.navbar-nav {
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: #330C2F;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #90143D;
    background-color: rgba(0,0,0,0.1);
    
}

.navbar-light .navbar-nav .nav-item .active {
    color: #90143D;
    font-weight: 700;
}
.navbar-light .navbar-nav .nav-item .active:hover {
    color: #90143D;
}

/*-------------------------HOME PAGE MODAL----------------- */
.main-heading i {
    font-size: 1.7rem;
    color: #90143D;
}

.main-heading i:hover,
.modal-body a:hover,
.btn:hover {
    color: #7ADBE6;
}

.modal-dialog {
    padding: 1rem;
}

.modal-content {
    background-color: #F7F3F5;
    border: #7ADBE6 .25rem solid;
    text-align: center;
}

.modal-title {
    color: #90143D;
    font-weight: 700;
}

.modal-body {
    font-size: 1rem;
}

.modal-body li {
    text-align: left;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.modal-body a {
    text-decoration: none;
    color: #90143D;
}

.modal-footer {
    padding-top: 0;
    padding-bottom: 0;
}

.btn {
    font-weight: 700;
    font-size: 1.2rem;
    color: #90143D;
}

/*-------------------------HOME PAGE----------------------- */
.intro-par {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.instruction-section {
    display: none;
}

/*-------------------------GAME SECTION----------------------- */
.game-section {
    width: 41rem;
    height: 34rem;
    margin: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    perspective: 60rem;
}

.game-tile {
    width: calc(33.333% - .625rem);
    height: calc(25% - .625rem);
    margin: .3125rem;
    position: relative;
    box-shadow: .2rem .2rem .2rem rgba(0,0,0,.4);
    transform-style: preserve-3d;
    transition: transform .3s;
}

.game-tile:hover,
.game-tile:active {
    transform: scale(.95);
    cursor: pointer;
}

.game-tile.flip {
  transform: rotateY(180deg);
  box-shadow: none;
}

.front-tile,
.back-tile {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front-tile {
    transform: rotateY(180deg);
}

.reset {
    padding: .5rem 1rem 1.5rem 1rem;
    text-align: center;
}

.reset-btn {
    border: .1rem #1F1F1F solid;
    border-radius: 1rem;
    letter-spacing: .2rem;
    padding: .5rem;
    background-color: #7ADBE6;
    color: #1F1F1F;
}
.reset-btn:hover {
    background-color: #90143D;
    color: #F7F3F5;
}

.panel {
    color: #90143D;
    font-weight: 600;
    text-align: center;
}

#timer,
#pair-count,
#match-count {
    padding: .5rem;
}

/*-------------------------CONTACT PAGE------------------- */
.container-fluid {
    margin: 0;
}
.contact-details {
    text-align: center;
    padding: 2rem 2.5rem 1rem 2.5rem;
} 

.contact-icons {
    margin-bottom: 0;
}
.contact-icons a {
    text-decoration: none;
    font-size: 1.7rem;
    color: #330C2F;
    padding: 1rem;
}
.contact-icons a:hover {
    color: #90143D;
}

.contact-form {
    text-align: center;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
}

.form-group {
    padding: 1rem;
}

label {
    float: left;
    color: #330C2F;
    font-weight: 600;
}

#submit {
    border: none;
    border-radius: 1rem;
    padding: .5rem;
    letter-spacing: .2rem;
    background-color: #90143D;
    color: #F7F3F5;
}
#submit:hover {
    background-color: #7ADBE6;
    color: #330C2F;
}

/*-------------------------Footer----------------------- */
.footer-section {
    background-color: #330C2F;
    color: #F7F3F5;
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;
    font-size: .8rem;
}

.footer-section a {
    text-decoration: none;
    color: #F7F3F5;
}

.footer-section a:hover {
    color: #7ADBE6;
}

.footer-section a i {
    color: #F7F3F5;
    font-size: 1.7rem;
    padding: 1rem 1rem 1.5rem 1rem;
}

.footer-section a i:hover {
    color: #7ADBE6;
}

.footer-copyright {
    font-weight: 200;
}

/*-------------------------Media Queries----------------------- */ 
@media only screen and (min-width: 576px) {
    .navbar-light .navbar-nav .nav-link:hover {
        text-decoration: underline #7ADBE6;
        transition: .5s;
        background-color: #F7F3F5;
    }
    #logo {
        height: 5rem;
    }
    .form-group {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .game-tile {
        width: calc(25% - .625rem);
        height: calc(33.333% - .625rem);
    }
}

@media only screen and (min-width: 992px) {
    .intro-par, .btn {
        display: none;
    }
    .instruction-section {
        display: block;
        text-align: center;
        padding: 1rem;
    }
    .instruction-section h2 {
        color: #90143D;
        font-weight: 600;
    }
    .instruction-section li {
        text-align: left;
        padding-bottom: .5rem;
    }
    .instruction-section a {
        color: #90143D;
        text-decoration: none;
    }
    .instruction-section a:hover {
        color: #7ADBE6;
    }
    .contact-form {
        padding-top: 2rem;
    }
    .form-group {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .contact-icons a {
        font-size: 2rem;
        padding: 1.5rem;
    }
}